.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px auto;
  width: 50%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px black;
  transition: box-shadow 0.5s;
}

.nav:hover {
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.7);
}

.logo {
  font-size: 30px;
}

.button {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login {
  margin-right: 10px;
  background-color: #ffffff94;
  cursor: pointer;
}

.signup {
  background-color: rgba(77, 236, 77, 0.653);
  text-transform: capitalize;
  color: #414040;
  cursor: pointer;
}
